.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #f9f9f9;
}

.navbar,
.footer,
.home,
.content {
  max-width: 640px;
  width: 100%;
}
