.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modalContent {
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  max-width: 500px;
  width: 100%;
}

.modalTitle {
  margin-bottom: 20px;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  color: #333;
}

.formGroup {
  margin-bottom: 20px;
}

.formGroup label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

.formGroup input {
  width: calc(100% - 20px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s;
}

.formGroup input:focus {
  border-color: #8673f5;
  outline: none;
}

.categoryContainer {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.categoryItem {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

.categoryItem:hover,
.categoryItem.activeCategory {
  background-color: #8673f5;
  border-color: #8673f5;
  color: white;
}

.buttonGroup {
  display: flex;
  justify-content: space-between;
}

.submitButton,
.cancelButton {
  background-color: #8673f5;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.cancelButton {
  background-color: #ccc;
}

.submitButton:hover,
.cancelButton:hover {
  background-color: #6a5fc7;
  transform: scale(1.05);
}
