.navbarContainer {
  display: flex;
  justify-content: center;
  width: 100%;
}

.navbar {
  position: relative;
  background-color: #878fe0;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0 0 0;
  z-index: 1000;
  max-width: 640px;
  width: 100%;
  text-decoration: none;
}

.profileContainer {
  position: relative;
  width: 40px;
  height: 40px;
  cursor: pointer;
  margin-left: 20px;
}

.logo {
  width: 100px;
  height: auto;
}

.menuButton {
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
  margin-right: 20px;
}

.dropdownMenu {
  position: absolute;
  top: 80px;
  right: 20px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  z-index: 1000;
  padding: 10px;
}

.dropdownItem {
  display: block;
  padding: 10px;
  color: #333;
  text-decoration: none;
  transition: background-color 0.3s;
}

.dropdownItem:hover {
  background-color: #f0f0f0;
}

@media only screen and (min-width: 640px) {
  .dropdownMenu {
    top: 80px;
    right: 3%;
  }
}
